body{	
	margin: 0 auto;
}

button{
	height: 4rem;
	width: 10rem;
	background: linear-gradient(to bottom right, #6EB7AC, #ffffff);
	color:black;
	font-size: 1.6em;
	display: block;
    margin-left: auto;
    margin-right: auto;

}


input{
	border: 1px solid gold;
	width: 17rem;
	height: 2rem;
	text-align: center;
}


h1{
	font-size: 8em;
}


* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 30rem; 
    padding: 7rem 3rem 3rem 3rem;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*  *************  Nav     &&&&&&&&&&&&&&&&&&&&&&&*/

nav{
	display: inline-block;
	background-color: white;
	width: 100%;
}

.fixed-nav nav{
	position: fixed;
}

ul{
	list-style-type: none;
}


li{
	float: left;
	margin: 1rem 2rem;
	border: 0 auto;
	color: #B76E79;
	font-size: 1.4em;
}

li:hover {
	color: #6EB7AC;
	font-weight: bold;
	font-style: italic;
}




/*   ))))))))))))))))    Big Image    <<<<<<<<<<<<<<<<<<<<<<<*/


#split1 {
	background-image: url(images/createBulb.jpg);
	background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-size: cover;
}

#split2 {
	background-image: url(images/wingedHearts.jpg);
	background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-size: cover;
}

#firstName{
	text-align: right;
	color: #6EB7AC;
	text-shadow: 2px 2px black;
	word-spacing: 2px;
}
#lastName{
	text-align: left;
	color: #6EB7AC;
	text-shadow: 2px 2px black;
	word-spacing: 2px;
}

.slogan{
	text-align: center;
	font-style: italic;
}

.summary{
	background-color: rgba(255, 255, 255, 0.7);
	padding: 2rem;
	border: 3px solid #B76E79;
	display: block;
    margin-left: auto;
    margin-right: auto;

}
/*   &&&&&&&&&&&            Paper types section      &&&&&&&&&&*/

.text {
	padding: 1rem 2rem;
}

.growImage {
	-webkit-transition: width 1s, height 1s, -webkit-transform 1s; 
    transition: width 1s, height 1s, transform 1s;
}

.growImage:hover{
	transform: scale(1.5);
  -moz-transform: scale(1.5);

}

.copyAd{
	visibility: hidden;
	float: left;
	

}

.aNcAd{
	visibility: hidden;
	float: left;
	
}

.nbAd{
	visibility: hidden;
	float: left;
	
	
}

/*   *********************         Copy Paper    ***************************/

#copyPaper{
	background-image: url(images/chart.jpg);
	background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-size: cover;
    height: 40rem;
}


#copyPaperSmall{
	height: 10rem;
	width: 10rem;
	/*margin-left: 3rem;*/
	display: block;
    margin-left: auto;
    margin-right: auto;
	object-fit: contain;
	border: 3px solid #B76E79;
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s; 
    transition: width 2s, height 2s, transform 2s;
    z-index: 1;
	
}

/*  &&&&&&&&&&&&&&&&&&&&&&&&&&&  Arts N Crafts   #####################*/


#artsAndCrafts{
	background-image: url(images/greenLion.jpg);
	background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-size: cover;
    height: 40rem;
}

#aNcSmall{
	height: 10rem;
	width: 10rem;
	object-fit: contain;
	display: block;
    margin-left: auto;
    margin-right: auto;
	border: 3px solid #B76E79;
	
}

/*))))))))))))))))))))))))))))     Notebooks   ((((((((((((((((((((((((((((((*/
#notebooks{
	background-image: url(images/adventure.jpg);
	background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-size: cover;
    height: 40rem;

}

#nbSmall{
	height: 10rem;
	width: 10rem;
	object-fit: contain;
	display: block;
    margin-left: auto;
    margin-right: auto;
	border: 3px solid #B76E79;
	
}

/*^^^^^^^^^^^^^^^^           CEO & Emal    >>>>>>>>>>>>>>>>>>>>>>>>>>*/


#finalwords{
	height: 30rem;
}
#CEO{
	background-image: url(images/paperboi.jpg);
	background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    font-size: 1em;

}

#CEOsidepic{
	background-image: url(images/postheart.jpg);
	background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-size: cover;

}

#qoute{
	margin-top: 10rem;
	font-size: 2em;
	color: #6EB7AC;
}

#email{
	text-align: center;
}

#email h2 {
	font-size: 4em;
}


#email2 {
	visibility: hidden;
}



/*   $$$$$$$$$$       FOOTER      $$$$$$$$$$$$$$$$$*/

footer{
	height: 1rem;
	padding: 0rem 1rem;
	
	text-align: center;
	clear: left;
	/*box-sizing: border-box;*/
}

/*#footerNotes{
	margin-top: 3rem;
}*/
/*  )))))))))))))))      Break Points     ((((((((((((((((((((((*/


@media (max-width: 950px) {
    .column {
    	height: 16rem;
        width: 100%;
    }

	#firstName{
		text-align: center;
		font-size: 5em;
	}
	#lastName{
		text-align: center;
		font-size: 5em;
	}

	.slogan{
	display: none;
}

   .summary{
	background-color: rgba(255, 255, 255, 0.7);
	padding: 1rem;
	border: 3px solid #B76E79;
	width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;

}

.growImage {
	-webkit-transition: none; 
    transition: none;
}

.growImage:hover{
	transform: none;
  -moz-transform: none;

}
	button{
	height: 3.5rem;
	width: 9rem;
	background: linear-gradient(to bottom right, #15d822, #ffffff);
	color:black;
	font-size: 1em;	
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;

}


#copyPaperSmall{
	/*display: none;*/	
}
#copyPaper{
	background-image: url(images/chart.jpg);
	background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-size: cover;
   
}

#aNcSmall{
	/*display: none;	*/
}

#nbSmall{
	/*display: none;	*/
}


#finalwords{
	background-image: url(images/oneheart2.jpg);
	background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-size: cover;
  


}

#CEO {
	display: none;	
}
#CEOsidepic{
	display: none;	
}

#email{
	display: none;	
}
#email2{
  visibility: visible;
  text-align: center;
  font-size: 3em;

}
nav{
	display: block;
	background-color: white;
	width: 100%;
}

.fixed-nav nav{
	position: fixed;
}

ul{
	list-style-type: none;
}


li{
	float: left;
	margin: .5rem 1rem;
	border: 0 auto;
	color: #B76E79;
	font-size: 1.2em;
	width: 100%;
	height: 1.3rem;

}

li:hover {
	color: #6EB7AC;
	font-weight: bold;
	font-style: italic;
}




@media(max-width: 400px) {

      
   




}











